.main {
    border: 2px solid black;
    text-align: justify;
}

.para-underline {
    background-color: yellow;
}
.crosscheck {
    vertical-align: center;
}
.crosscheck-button {
    background-color: #0f69af;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin:5px;
    padding: 8px 10px;
    outline: none;
    border-radius: 6px;
}
.crosscheck-button:disabled {
    opacity: 0.4;
    cursor: no-drop;
}
.reset {
    text-align: right;
    margin: 10px;
}

.reset-button {
    background-color: #ffc832;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin:5px;
    padding: 8px 10px;
    border-radius: 6px;
    outline: none;
}
.loader{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    z-index: 9;
  }
.loading {
    opacity: 0.6;
}